/* Search Button Styling */
body{
    font-family: "Patrick Hand", cursive;
    font-weight: 400 !important;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 

}
.btn-search {
    background-color: #ff385c ;
    color: white;
    border-radius: 50% !important;
    padding: 0.5rem 0.8rem !important;
}

.btn-search:hover {
    background-color: #e31c5f;
    color: white;
}

.search-input {
    border-radius: 25px;
    padding: 0.5rem 1.5rem ;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
}

/* Profile Menu Styling */
.profile-menu {
    padding: 5px 12px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
}

.profile-menu:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #e31c5f; 
   
}
.navbar-brand:hover{
    color: #e31c5f !important;
    text-decoration: none !important;
    cursor: pointer;
}

/* style.css mein add karein */



/* 2. Footer Styling */
footer {
    background-color: #f8f9fa;
}

.f-info {
    font-size: 0.9rem; 
}

.f-info-socials a:hover i {
    color: #ff385c;
    transform: scale(1.1); 
    transition: 0.2s all ease;
}

.f-info-links a:hover {
    text-decoration: underline !important;
    color: #000;
}
.card{
    border: none !important;
    margin-top: 2rem;
    padding: 2px;
}
.card :hover{
    opacity: 0.8 ;
    background-color: white;
}

.card-img-top{
    border-radius: 2rem;
    object-fit: cover !important;
    height: 20rem;
}
.card-body{
    padding: 0rem !important;
}